@charset "utf-8";

html, body
{ 
	width:100vw;
	height:100vh;	
	margin:auto;
	background-color: black;
    background-image: url("background.jpg");	
}

.wrapper
{
	height:100vh;
	width: 40vw;
	margin:auto;
	min-width:300px;
	min-height:300px;
}

.banner 
{  
    height:15%;
	width:60%;	
	margin:auto;
	background-color: #FFFFFF;
    border: 4px  solid black;
	border-bottom: 3px  solid white;
	border-radius: 30px;
    opacity:0.8;
	box-sizing: border-box;	
	display: flex;
    justify-content: center;
	align-items: center;
}

.banner-text 
{	   
    text-shadow: 0 1px 1px rgba(0,0,0,8);
	font-size: 2.2vw;
	font-weight: bold;
	color:#DC3522;
}

.form 
{  
    height:77%;
	margin:auto;
	background-color:#B0C4DE;
	border-left: 4px inset	black;
	border-top: 4px solid	black;
	border-right: 4px solid	black;
	border-bottom: 4px solid black;
	border-radius: 20px;	
	font-weight:italic;
	opacity:0.8;
	box-sizing: border-box;	
}

.footer 
{   
    height:8%;
    margin:auto;
	background: black;
	border: 2px solid white;
	border-radius: 15px;
	opacity:0.8;
	box-sizing: border-box;
}


/* MEDIA QUERIES */

@media (max-width: 480px)
{
		.wrapper
		{   
			width: 70vw;
		}
		.banner-text 
		{	   
			font-size: 5vw;
		}
		
			
}


@media (max-width: 768px) 
{
		.wrapper
		{   
			width: 50vw;
		}	
	
}
 
@media (max-width: 992px) 
{
		.wrapper
		{   
			width: 60vw;
		}	
	
} 
 
 
 
/* MEDIA QUERIES */
