@charset "utf-8";

html, body
{ 
	width:100vw;
	height:100vh;	
	margin:auto;
	background-color: black;
    background-image: url("background.jpg");	
}

.wrapper
{
	height:100vh;
	width: 40vw;
	margin:auto;
	outline:1px solid white;
	min-width:300px;
	min-height:300px;
}

.banner 
{  
    height:15%;
	width:60%;	
	margin:auto;
	background-color: #FFFFFF;
    
}

.form 
{  
    height:77%;
	margin:auto;
	background-color:#B0C4DE;
	
}

.footer 
{   
    height:8%;
    margin:auto;
	background: red;	
}


/* MEDIA QUERIES */

@media (max-width: 480px)
{
		.wrapper
		{   
			width: 70vw;
		}
	
}


@media (max-width: 768px) 
{
		.wrapper
		{   
			width: 50vw;
		}	
	
}
 
@media (max-width: 992px) 
{
		.wrapper
		{   
			width: 70vw;
		}	
	
} 
 
 
 
/* MEDIA QUERIES */
