@charset "utf-8";

html, body
{ 
	width:100vw;
	height:100vh;	
	margin:auto;
	background-color: #000;
    background-image: url("background.jpg");	
}

.wrapper
{
	height:100vh;
	width: 40vw;
	margin:auto;
	min-width:300px;
	min-height:300px;
}

.banner 
{  
    height:15%;
	width:60%;	
	margin:auto;
	background-color: #FFFFFF;
    border: 4px  solid black;
	border-bottom: 3px  solid white;
	border-radius: 30px;
    opacity:0.8;
	box-sizing: border-box;	
	display: flex;
    justify-content: center;
	align-items: center;
}

.banner-text 
{	   
    font-family: 'Aldrich';
    text-shadow: 0 1px 1px rgba(0,0,0,8);
	font-size: 2.2vw;
	font-weight: bold;
	color:#DC3522;
}

.form 
{  
    height:77%;
	margin:auto;
	background-color:rgba(211, 211, 211,0.8);
	border-left: 4px inset black;
	border-top: 4px solid black;
	border-right: 4px solid	black;
	border-bottom: 4px solid black;
	border-radius: 20px;	
	font-weight:italic;
	box-sizing: border-box;	
	display: flex;
    justify-content: center;
	align-items: center;
}

.footer 
{   
    height:8%;
    margin:auto;
	background: black;
	border: 2px solid white;
	border-radius: 15px;
	opacity:0.8;
	box-sizing: border-box;
	display: flex;
    justify-content: center;
	align-items: center;
}

.footer-text
{
	font-family: 'Aldrich';
	color:white;
	font-size:1.1vw;	
}

.btn-add, .btn-view
{   
	margin:auto;
	color: #900;
	background:white;
	font-family: 'Aldrich';
	font-weight: bold;
	border: 1px solid #900;
	border-radius:10px;
	width:20%;
	height:12%;
	font-size:1.3vw;	  
    overflow: hidden;
    text-overflow: ellipsis;
	min-height: 50px;
}

.btn-close-modal
{
	min-width:20%;
	height:20%;
	margin:auto;
	color: #900;
	background:white;
	font-family: 'Aldrich';
	font-weight: bold;
	border: 1px solid #900;
	border-radius:10px;
}

.btn-add:hover, .btn-view:hover, .btn-close-modal:hover
{
	color: #FFF;
	background: #900;
	cursor: pointer;
	box-shadow: 3px  3px  3px black;
}




/* MEDIA QUERIES */


@media (max-width: 480px)
{
		.wrapper
		{   
			width: 70vw;
		}
		.banner-text 
		{	   	
			font-size: 6vw;
		}
		.footer-text
		{
			font-size:3vw;	
		}
		
		.btn-add, .btn-view
		{
			width:30%;
			font-size:3vw;
		}
						
}


@media (min-width: 480px) and (max-width: 768px) 
{
		
		.wrapper
		{   
			width: 50vw;
		}
        .banner-text 
		{	   
			font-size: 4vw;
		}		
	    .footer-text
		{
			font-size:2vw;	
		}	 
		.btn-add, .btn-view
		{
			width:25%;
			font-size:2vw;
		}
		
}
 
@media (min-width: 768px) and (max-width: 992px) 
{
		
		.wrapper
		{   
			width: 60vw;
		}	
		
		.banner-text 
		{	   
			font-size: 3vw;
		}	
	    .footer-text
		{
			font-size:1.5vw;	
		}	
		.btn-add, .btn-view
		{
			font-size:2vw;
		}
		
} 
 
/* MEDIA QUERIES */
