@charset "utf-8";


body 
{
	margin:auto;
	padding:0em 0 0em 0;
	background-color: black;
	background-image: url(background.jpg);
	
} 

label 

{
  display: inline-block;
  width: 105px;
  text-indent:11px;
}

#citylabel
{
text-indent:62px;

}

input 
{
     
    width:29%;
	border: 2px solid black;
    border-radius: 6px;	
    display: inline-block;
    color:black;
    font-weight:bold;
    

}

#city, #email, #date, #address
{
text-indent:49px;

}

#fn, #ln
{

text-indent:30px;

}

#gender
{
padding:0 0 0 0;
margin: auto;

}


input[type=tel]
{
 width:23%;
 display: inline-block;
}

input[type=radio]
{

vertical-align: middle;
margin: -55px;

}



input:focus
{
 
 border: 2px solid white;
 font-size:0.8vw;
}


.button, .buttonall	
 {
color: #900;
background:white;
font-weight: bold;
border: 1px solid #900;
width:20%;
position:relative;
top:-2em;
padding:0.5em 0 0.4em 0;	
font-size:1vw;	  
}			
   


.button:hover  	
{
 color: #FFF;
 background: #900;
 cursor: pointer;
 box-shadow: 3px  3px  3px black;
}

.buttonall:hover
{
color: #FFF;
  background: #900;
  cursor: pointer;
   box-shadow: 3px  3px  3px black;
}

.wrapper
{
	margin:auto;
	padding:0em 33em 0em 33em;

}


.banner 
{       
	min-width: 500px;
	width:60%;
	margin:auto;
	padding:3em 0 3em 0;
	background-attachment: scroll;
	background-color: #FFFFFF;
	border: 4px  solid black;
	border-bottom: 3px  solid white;
	border-radius: 30px;
	opacity:0.8;
}

.banner-text 
{	
    text-shadow: 20px 20px 50px #B9B9B9;
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	color:#DC3522;
	position: relative;
}

.form 
{       
	min-width: 500px;
	margin:auto;
	padding:19.2em 0 19.3em 0;
	background-color:#7E8AA2;
	border-left: 4px inset	black;
	border-top: 4px solid	black;
	border-right: 4px solid	black;
	border-bottom: 4px solid black;
	border-radius: 20px;	
	font-weight:italic;
	color: white;
	text-align:center;
	text-shadow:2px 2px 10px black;
	
}


.footer 
{
    margin:auto;
	padding:1.4em 0 1.4em 0;
	clear: both;
	background: black;
	border: 1px solid white;
	border-radius: 15px;
	font-size:0.85vw;
	
}


.footer-text
{
color: #F4F4F4;
text-indent:8px;
text-align:center;
position:relative;
top:25%;
}


h2
{
text-decoration:underline;

}




table
{
  border:2px solid black;
 margin-left:auto; 
    margin-right:auto;
 position:absolute;
   top:30%; 
   right:37%;
   width:24%;

   color:white;
   text-align:center;
 }
 
 tr,td
 {
	overflow: hidden;	
   border:1px solid white;
   white-space: nowrap;
 }

td
{
overflow: hidden;	
width:25%;
font-size:15px;
}


font
{
color:red;
position:absolute;
top:63%;
}


.table-container
{
height: 300px;
	width: 25%;
	background-color:#7E8AA2;
	border-left: 4px inset black;
	border-top: 4px solid	black;
	border-right: 4px solid	black;
	border-bottom: 4px solid black;
	border-radius: 20px;	
	font-weight:italic;
	color: white;
		margin-left: 4.7% ;	
	position:absolute;
	top:43%;
}

 
 .st-table-view-user
 {
position:absolute;
	right:98.5%;
	top:15%;
 }

 
 
 
 
 
 
 
 
